---
import Layout from '../layouts/Layout.astro';


// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Home | CyberSG" description="CyberSG is a Freelancer Web Devoper with ilustrations and graphic skills to solve your digital problems.">
	<!-- Hero -->
	<section class="section">
		<div class="content-header">
			<div class="text-changer">
			<div class="roles-container"> 
				<span class="role">Web Developer</span>
				<span class="role">Product Designer</span>
				<span class="role">UX/UI Designer</span>
				<span class="role">Graphic Designer</span>
				<span class="role">Web Developer</span>
			</div>
			</div>
			<div class="content-description">“Always looking for the <span class="text-span">best solution</span> for my client.”<br></div>
			
			<div class="content-description">Mixing lots of technologies from code to design to bring <span class="text-span">clean, impact</span> and <span class="text-span">enjoyable</span> projects.</div>
			<a class="button outlink" href="/proyectos">Proyectos
				<svg 
				viewBox="0 0 24 24">
				<g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5"><path d="M3 12h17.5"/><path d="M21 12l-7 7M21 12l-7 -7"/></g></svg>
			</a>
			<div class="footer-icon-wrapper">
			<a class="footer-icon button" href="/">Resume</a>
			<a class="footer-icon" href="https://www.instagram.com/cybersg_zero/" target="_blank">   
				<svg 
				width="24" height="24" 
				viewBox="0 0 24 24">
				<title>Link to LinkedIn</title> 
				<path fill="currentColor" d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4zm9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3"/></svg>
			</a>
			<a class="footer-icon" href="https://www.linkedin.com/in/cybersg/" target="_blank">
				<svg 
				width="24" height="24" 
				viewBox="0 0 24 24">
				<title>Link to LinkedIn</title>
				<path fill="currentColor" d="M6.94 5a2 2 0 1 1-4-.002a2 2 0 0 1 4 .002M7 8.48H3V21h4zm6.32 0H9.34V21h3.94v-6.57c0-3.66 4.77-4 4.77 0V21H22v-7.93c0-6.17-7.06-5.94-8.72-2.91z"/></svg>
			</a>
			</div>
		</div>
	</section>

	<!-- About Me Section -->
	<section class="section horizontal">
	<div class="img_container">
		<div class="img-block horizontal">
		<img loading="eager" src="./images/King.avif" alt="Cyber SG image of himself in real life">
		<img class="image-left" loading="eager" src="./images/King-left.avif" alt="an 1/2 image of CyberSG Avatar">
		</div>
		<img loading="lazy" class="image-bottom" src="./images/King-bottom.avif" alt="an image of cat paw path">
	</div>
	<div class="section_counter">
		<div class="content-description full-width">
			<p>I'm a passionate Visual Designer, born in Lima, Peru and trained at LABASAD Barcelona School of Arts & Design.</p>

			<p><br>My career has led me to work in <span class="text-span">UX/UI</span> and <span class="text-span">web design studios</span>, where I've had the opportunity to develop my skills as a digital artist and art director.</p>

			<p><br>I firmly believe that the success of a project lies in <span class="text-span">collaboration</span> and <span class="text-span">the creation of impactful visual experiences.</span></p>
				
			<p><br>I'm excited about the idea of working with you to <span class="text-span">bring your ideas to life</span> and together build a project that exceeds your expectations</p>
		</div>
		<div class="section_counter">
		<div class="container-3 counter">
			<div class="achievement">
			<div class="counter_up">
				<div duration="3000" counter-element="number" class="number_counter">25</div>
				<div class="number_counter">+</div>
			</div>
			<div class="paragraph-2 white">Proyectos ejecutados en los últimos 5 años</div>
			</div>
			<div class="achievement">
			<div class="counter_up">
				<div duration="3000" counter-element="number" class="number_counter">20</div>
				<div class="number_counter">+</div>
			</div>
			<div class="paragraph-2 white">Clientes Satisfechos</div>
			</div>
		</div>
		</div>
		<div>

		</div>
	</div>
	</section>

	<!-- Skills Section -->
	<section class="section">
	<div class="content-description">
		In my day-to-day work, I focus on the design and development of digital products for websites and web applications:
	</div>
	<div class="card-wrapper">
		<div class="card">
		<pixel-canvas data-no-focus></pixel-canvas>
		<div class="card-content">
			<div class="card_top">01</div>
			<h2 class="card-title">Frontend Development</h2>
			<p class="card-description">Development of visual appearance to improve the user's web experience.</p>
		</div>
		</div>

		<div class="card" style="--active-color: #e0f2fe">
		<pixel-canvas data-gap="10" data-speed="25" data-colors="#e0f2fe, #7dd3fc, #0ea5e9" data-no-focus></pixel-canvas>
		<div class="card-content">
			<div class="card_top">02</div>
			<h2 class="card-title">Visual Design</h2>
			<p class="card-description">UI • Aesthetic creation of visual elements for the interface.</p>
		</div>
		</div>
		
		<div class="card" style="--active-color: #fef08a">
		<pixel-canvas data-gap="3" data-speed="20" data-colors="#fef08a, #fde047, #eab308" data-no-focus></pixel-canvas>
		<div class="card-content">
			<div class="card_top">03</div>
			<h2 class="card-title">Interface Design</h2>
			<p class="card-description">UX • Effective design of the user interface.</p>
		</div>
		</div>
	</div>
	<div class="card-wrapper">
		<div class="card" style="--active-color: #fecdd3">
		<pixel-canvas data-gap="6" data-speed="80" data-colors="#fecdd3, #fda4af, #e11d48" data-no-focus></pixel-canvas>
		<div class="card-content">
			<div class="card_top">04</div>
			<h2 class="card-title">Testing</h2>
			<p class="card-description">Testing to ensure software functionality and quality.</p>
		</div>
		</div>
	</div>

	</section>

	<!-- Projects Section -->
	<section class="section center">
	<div class="image-gallery">
		<div class="content-description">
		Here is some of my achievements with my successful clients
		</div>
		<a class="video-container" href="./proyectos/ArquiTechPro">
			<title>ArquiTechPro Video Presentation</title> 
		<video loop autoplay muted class="image-large" src="./src/assets/videos/arquitech.webm" aria-label="Video Promocional del proyecto ArquiTechPro que al clickearle te lleva a la pagina del proyecto"></video>
		</a>
		<div class="image-small-container">
		<a class="video-container" href="./proyectos/Anilist.astro">
			<title>Anilist video</title> 
			<video class="image-small" loop autoplay muted src="./src/assets/videos/anilist.webm" aria-label="Video Promocional del proyecto Anilist que al clickearle te lleva a la pagina del proyecto"></video>
		</a>
		<a class="image-small" href="./proyectos/Interpido Cacao.astro">
			<img loading="lazy" class="image-small" src="./images/cacao.avif" alt="Imagen del Intrépido Cacao con su equipo" />
		</a>

		<a class="image-small" href="./proyectos/Dr-Caramelo.astro">
			<img loading="lazy" class="image-small" src="./images/drcaramelo.avif" alt="Dr.caramelo" />
		</a>  
	</div>
		<a class="button" href="/proyectos">
			<div>See all project</div>
		</a>
	</div>
	</section>
	<script type="module" defer src="./src/assets/js/pixel-canvas.js" client:only="react"></script>
	<script defer src="./src/assets/js/number-counter.js" client:only="react"></script>
</Layout>
