
<header class="nav">
    <div class="header-wrap">
        <nav class="navbar">
            <a href="/" class="logo-text">
                <div class="image_overflow">
                    <img loading="eager" class="img header" src="../images/myself.avif" alt="avatar of Cyber SG that is a link to home page">
                </div> 
                CyberSG
            </a>
            <div class="hamburger-icon">
                <label for="dropdown">
                    <div class="bar bar1"></div>
                    <div class="bar bar2"></div>
                    <div class="bar bar3"></div>  
                </label>
                <input type="checkbox" id="dropdown" name="dropdown">
            </div>
        </nav>
    </div>

    <ul class="pages">                       
        <li><a href="/" title="Home">Home</a></li>
        <li><a href="/projects" title="Projects">Projects</a></li>
        <li><a href="mailto:luissalas2706@gmail.com" title="Contact">Contact</a></li>
    </ul> 
</header>