---
import '@fontsource-variable/gabarito';
import '@fontsource-variable/open-sans/wght-italic.css';

import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
import { ViewTransitions } from 'astro:transitions';
const { title, description } = Astro.props

---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta property="og:image" content="/myself.avif">
		<link rel="icon" type="image/svg+xml" href="/myself.avif" />
		<meta name="generator" content={Astro.generator} />

		<link rel="sitemap" href="/sitemap-index.xml" />

		<link rel="stylesheet" href="../css/styles.css">

		<link rel="stylesheet" href="../css/counter.css">
		
		<ViewTransitions />
		
		<title>{title}</title>
		<meta name="description" content={description} />
		<script type="application/ld+json">
			{
			"@context": "https://schema.org",
			"@type": "Website",
			"@id":"https://www.cybersg.dev/#website",
			
			"url": "https://www.cybersg.dev",
			"sameAs": ["https://www.cybersg.dev/projects", "https://www.cybersg.dev/projects/Anilist"],
			"name": "CyberSG",
			"description": "CyberSG is a Freelancer Web Developer with ilustrations and graphic skills to solve your digital problems. Contact me today to discuss your project!",
			"email": "luissalas2706@gmail.com",
			"jobTitle": "Diseñador UX/UI y Desarrollador Web"
			}
		</script>
	</head>
	<body>
		<div class="cursor"></div>
		<Header />
		<main>
			<slot />
		</main>
		<Footer />
		<script defer src="../js/mouse.js" client:only="react"></script>
	</body>
</html>


